@using Microsoft.AspNet.Identity
@using dc_portal.Models
@using dc_portal.Helpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>The Golden Egg - Financial Portal</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="icon" href="../assets/img/icon.ico" type="image/x-icon" />

    <!-- Fonts and icons -->
    <script src="~/Scripts/Main/webfont.min.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Lato:300,400,700,900"] },
            custom: { "families": ["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"], urls: ['/Content/Main/fonts.min.css'] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>

    <!-- CSS Files -->
    <link href="~/Content/Main/atlantis.min.css" rel="stylesheet" />
    <link href="~/Content/Main/bootstrap.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @{ 
        var db = new ApplicationDbContext();
        var user = db.Users.Find(User.Identity.GetUserId());
        RoleHelper roleHelper = new RoleHelper();
    }

</head>
<body>
    <div class="wrapper">
        <div class="main-header">
            <!-- Logo Header -->
            <div class="logo-header" data-background-color="blue">
                DC Portal
                @*<a href="index.html" class="logo">
                        <img src="../assets/img/logo.svg" alt="navbar brand" class="navbar-brand">
                    </a>*@
                <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <i class="icon-menu"></i>
                    </span>
                </button>
                <button class="topbar-toggler more"><i class="icon-options-vertical"></i></button>
                <div class="nav-toggle">
                    <button class="btn btn-toggle toggle-sidebar">
                        <i class="icon-menu"></i>
                    </button>
                </div>
            </div>
            <!-- End Logo Header -->
            <!-- Navbar Header -->
            <nav class="navbar navbar-header navbar-expand-lg" data-background-color="blue2">

                <div class="container-fluid">

                    <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
                        <li class="nav-item dropdown hidden-caret">
                            <a class="nav-link dropdown-toggle" href="#" id="messageDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-envelope"></i>
                            </a>
                            <ul class="dropdown-menu messages-notif-box animated fadeIn" aria-labelledby="messageDropdown">
                                <li>
                                    <div class="dropdown-title d-flex justify-content-between align-items-center">
                                        Messages
                                        <a href="#" class="small">Mark all as read</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="message-notif-scroll scrollbar-outer">
                                        <div class="notif-center">
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a class="see-all" href="javascript:void(0);">See all messages<i class="fa fa-angle-right"></i> </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown hidden-caret">
                            <a class="nav-link dropdown-toggle" href="#" id="notifDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-bell"></i>
                                <span class="notification">4</span>
                            </a>
                            <ul class="dropdown-menu notif-box animated fadeIn" aria-labelledby="notifDropdown">
                                <li>
                                    <div class="dropdown-title">You have 4 new notification</div>
                                </li>
                                <li>
                                    <div class="notif-scroll scrollbar-outer">
                                        <div class="notif-center">
                                            <!--NOTIFICATIONS-->
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a class="see-all" href="javascript:void(0);">See all notifications<i class="fa fa-angle-right"></i> </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown hidden-caret">
                            <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false">
                                <div class="avatar-sm">
                                    <img src="@user.AvatarPath" alt="..." class="avatar-img rounded-circle">
                                </div>
                            </a>
                            <ul class="dropdown-menu dropdown-user animated fadeIn">
                                <div class="dropdown-user-scroll scrollbar-outer">
                                    <li>
                                        <div class="user-box">
                                            <div class="avatar-lg"><img src="@user.AvatarPath" alt="image profile" class="avatar-img rounded"></div>
                                            <div class="u-text">
                                                <h4>Hizrian</h4>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">My Profile</a>
                                        <a class="dropdown-item" href="#">My Budget</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Account Setting</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Logout</a>
                                    </li>
                                </div>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- End Navbar -->
        </div>

        <!-- Sidebar -->
        <div class="sidebar sidebar-style-2">
            <div class="sidebar-wrapper scrollbar scrollbar-inner">
                <div class="sidebar-content">
                    <div class="user">
                        <div class="avatar-sm float-left mr-2">
                            <img src="@user.AvatarPath" alt="..." class="avatar-img rounded-circle">
                        </div>
                        <div class="info">
                            <a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                                <span>
                                    @user.FirstName @user.LastName
                                    <span class="user-level">@roleHelper.ListUserRoles(user.Id).FirstOrDefault()</span>
                                    <span class="caret"></span>
                                </span>

                            </a>
                            <div class="clearfix"></div>

                            <div class="collapse in" id="collapseExample">
                                <ul class="nav">
                                    <li>
                                        <a href="@Url.Action("Profile", "Home")"><span class="sub-item">Profile</span></a>
                                    </li>
                                    <li>
                                        <span class="sub-item">
                                            @Html.ActionLink("Log off", "LogOut", "Account")
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <ul class="nav nav-primary">
                        <li class="nav-item active">
                            <a data-toggle="collapse" href="#hhmanage" class="collapsed" aria-expanded="false">
                                <i class="fas fa-ticket-alt"></i>
                                <p>Household Management </p>
                                <span class="caret"></span>
                            </a>
                            <div class="collapse" id="hhmanage">
                                <ul class="nav nav-collapse">
                                    @if (User.IsInRole("Guest"))
                                    {
                                        <li>
                                            <a href="@Url.Action("Create", "Households")"><span class="sub-item"> Create</span></a>
                                        </li>
                                    }
                                    else
                                    {
                                        if (user.Household.IsConfigured == false)
                                        {
                                            <li>
                                                <a href="@Url.Action("Config", "Households", new { id = user.HouseholdId })"><span class="sub-item">Configuration</span></a>
                                            </li>
                                        }

                                        <li>
                                            <a href="@Url.Action("Details", "Households", new { id = user.HouseholdId })"><span class="sub-item">View</span></a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Leave", "Households", new { id = user.HouseholdId })"><span class="sub-item">Leave Household</span></a>
                                        </li>
                                        <li>
                                            @Html.ActionLink("Send Invitations", "Create", "Invitations")
                                        </li>
                                    }

                                </ul>
                            </div>
                        </li>
                        @if (User.IsInRole("Member") || User.IsInRole("Head of Household"))
                        {
                            <li class="nav-item active">
                                <a data-toggle="collapse" href="#acc" class="collapsed" aria-expanded="false">
                                    <i class="fas fa-crown"></i>
                                    <p>Account Management</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="acc">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="@Url.Action("Index","BankAccounts")"><span class="sub-item">Bank Accounts</span></a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Create","BankAccounts")"><span class="sub-item">Create Bank Accounts</span></a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Edit","BankAccounts")"><span class="sub-item">Edit Bank Accounts</span></a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Delete","BankAccounts")"><span class="sub-item">Delete Bank Accounts</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li class="nav-item active">
                                <a data-toggle="collapse" href="#xaction" class="collapsed" aria-expanded="false">
                                    <i class="far fa-clone"></i>
                                    <p>Transaction Management </p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="xaction">
                                    <ul class="nav nav-collapse">

                                        <li>
                                            <a href="@Url.Action("Create","Transactions")"><span class="sub-item">Create</span></a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index","Transactions")"><span class="sub-item">History</span></a>
                                        </li>
                                        @*<li>
                                            <a href="@Url.Action("Edit","Transactions")"><span class="sub-item">Edit</span></a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Delete", "Transaction")"><span class="sub-item">Delete Transaction</span></a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Details","Transactions")"><span class="sub-item">Void</span></a>
                                        </li>*@

                                    </ul>
                                </div>
                            </li>

                        }


                    </ul>
                </div>
            </div>
        </div>
        <!-- End Sidebar -->
        <!--Main Content-->
        <div class="main-panel">
            <div class="content">

                @RenderBody()

            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <nav class="pull-left">
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link" href="https://www.themekita.com">
                                    ThemeKita
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    Help
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    Licenses
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="copyright ml-auto">
                        2018, made with <i class="fa fa-heart heart text-danger"></i> by <a href="https://www.themekita.com">ThemeKita</a>
                    </div>
                </div>
            </footer>
        </div>
        <!-- End Content -->
    </div>
    <!--   Core JS Files   -->

    <script src="~/Scripts/Main/jquery.3.2.1.min.js"></script>
    <script src="~/Scripts/Main/popper.min.js"></script>
    <script src="~/Scripts/Main/bootstrap.min.js"></script>

    <!-- jQuery UI -->
    <script src="~/Scripts/Main/jquery-ui.min.js"></script>
    <script src="~/Scripts/Main/jquery.ui.touch-punch.min.js"></script>


    <!-- jQuery Scrollbar -->
    <script src="~/Scripts/Main/jquery.scrollbar.min.js"></script>
    <!-- Chart JS -->
    <script src="~/Scripts/Main/chart.min.js"></script>

    <!-- jQuery Sparkline -->
    <script src="~/Scripts/Main/jquery.sparkline.min.js"></script>

    <!-- Chart Circle -->
    <script src="~/Scripts/Main/circles.min.js"></script>

    <!-- Datatables -->
    <script src="~/Scripts/Main/datatables.min.js"></script>

    <!-- Bootstrap Notify -->
    <script src="~/Scripts/Main/bootstrap-notify.min.js"></script>

    <!-- Sweet Alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    @*<script src="~/Scripts/Main/sweetalert2.js"></script>*@


    <!-- Atlantis JS -->
    <script src="~/Scripts/Main/atlantis.min.js"></script>

    <script src="http://cdn.jsdelivr.net/npm/autonumeric@4.5.4"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        var noleave_message = '@TempData["MustLeaveHh"]';
        if (noleave_message != '') {
            Swal.fire({
                icon: 'warning',
                title: 'Sorry!',
                allowOutsideClick: false,
                allowEscapeKey: false,
                text: noleave_message
            })
        }
    </script>

    <script>
        var nodelete_message = '@TempData["CantDelete"]';
        if (nodelete_message != '') {
            Swal.fire({
                icon: 'error',
                title: 'Error!!',
                text: nodelete_message
            })
        }
    </script>

    <script>
        var yayleave_message = '@TempData["Congrats-Leave"]';
        if (yayleave_message != '') {
            Swal.fire({
                icon: 'success',
                title: 'Horrah!',
                text: yayleave_message
            })
        }
    </script>

    <script>
        var deleted_message = '@TempData["Deleted-HH"]';
        if (deleted_message != '') {
            Swal.fire({
                icon: 'success',
                title: 'Success!',
                text: deleted_message
            })
        }
    </script>


    <script>
        var inv_sent = '@TempData["Invitation-Sent"]';
        if (inv_sent != '') {
            Swal.fire({
                icon: 'success',
                title: 'Success!',
                text: inv_sent
            })
        }
    </script>

    <script>
        var complete_config_HH = '@TempData["Complete_HH_config"]';
        if (complete_config_HH != '') {
            Swal.fire({
                icon: 'success',
                title: 'Success!',
                text: complete_config_HH
            })
        }
    </script>
</body>
</html>

















