@model dc_portal.Models.Transaction

@{
    ViewBag.Title = "Create Transaction";
}

<h2>Create</h2>


@using (Html.BeginForm("Create", "Transactions", FormMethod.Post, new { @class = "", id = "Currency" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.OwnerId);
    
    <div class="form-horizontal">
        <h4>Transaction</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            Bank Name
            <div class="col-md-10">
                @Html.DropDownList("BankAccountId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.BankAccountId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Budget Item
            <div class="col-md-10">
                @Html.DropDownList("BudgetItemId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.BudgetItemId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Transaction type
            <div class="col-md-10">
                @Html.EnumDropDownListFor(m => m.TransactionType, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.TransactionType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Amount
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Amount)
                @Html.ValidationMessageFor(m => m.Amount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Memo
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Memo, new { htmlAttributes = new { @class = "form-control"} })
                @Html.ValidationMessageFor(m => m.Memo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" value="Create" class="btn btn-default">Submit</button>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section scripts{
    <script src="http://cdn.jsdelivr.net/npm/autonumeric@4.5.4"></script>
    <script>
        new AutoNumeric('#Amount', { currencySymbol: '$', vMax: 9999999 })

        $("#Currency").submit(function (e) {
            e.preventDefault();
            form = document.getElementById("Currency");
            $.each(form.elements, function (i, el) {
                if (el.name == "Amount") {
                    if (el.value != "") {
                        el.value = el.value.split('$')[1].replace(/\,/g, '');
                    }
                }
            })
            form.submit();
            return true;
        });

    </script>
}
